body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    max-height: 450px;
    overflow-y: auto;
}

#download {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#clear {
    background-color: red;
}

#clear:hover {
    background-color: #d11a1a;
}

button {
    margin-right: 10px;
}